<ul class="nav nav-tabs">
  <% @programs.each do |program| %>
    <%= nav_link program.name, program %>
  <% end %>
</ul>

<br>

<div class="panel panel-default">
	<div class="panel-heading">Problem Statement</div>
	<div class="panel-body">
		<%= raw BlueCloth.new(@program.statement).to_html %>
	</div>
</div>

<% if @program.solved %>
  <a class="btn btn-warning" href="#" role="button"><span class="glyphicon glyphicon glyphicon-gift"></span> <%= @program.reward.to_s %> coins obtained</a>
<% else %>
  <a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon glyphicon-gift"></span> <%= @program.reward.to_s %> coins up for grabs</a>
  <%# link_to 'Submit Output', new_run_path(program_id: @program.id), class: 'btn btn-success', role: 'button' %>
  <%= link_to 'Request Help', new_post_path(program_id: @program.id), class: 'btn btn-danger', role: 'button' %>
<% end %>
